
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="Marcell Pek">

	<title>Attendance LTC</title>

	<link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/navbar-static/">

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<!-- Custom styles for this template -->
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
		<a class="navbar-brand" href="#">Attendance LTC</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
				</li>
			</ul>
			<form class="form-inline mt-2 mt-md-0">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>

    <main role="main" class="container">
		<div class="table-title">
			<div class="row">
				<div class="col-sm-8"><h2>Mathematics 1R</h2></div>
				<div class="col-sm-4">
					<div class="search-box">
						<input type="text" class="form-control" onkeyup="filterCourses()" placeholder="Search&hellip;">
					</div>
				</div>
			</div>
		</div>

		<table id="courses-department" class="table table-striped table-bordered" style="width:100%">
			<thead>
				<tr>
					<th>Course ID</th>
					<th>Who tutors</th>
					<th>Attendance Last Taken</th>
					<th>Attendance Last Week</th>
				</tr>
			</thead>
			<tbody>
				{% for (id, name), (tutor_name, attendance_last_taken, attendance_percent) in course_details.items() %}
				<tr>
                    <td id="{{ id }}-id">{{ id }}</td>
					<td id="{{ id }}-id">{{ tutor_name }}</td>
					<td id="{{ id }}-name">{{ attendance_last_taken }}</td>
					<td id="{{ id }}-students">{{ attendance_percent }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>


	</main>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="/static/script.js"></script>
	<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
</body>
</html>