{% extends "base.html" %}
{% block title %}Courses in department{% endblock %}
{% block content %}
<h1>{{ name }}</h1>
<table id="courses-department" class="table table-striped table-bordered" style="width:100%">
	<thead>
		<tr>
			<th>Component</th>
			<th>Taught by</th>
			<th>Students enrolled</th>
			<th>Tier 4 students enrolled</th>
			<th>Attendance last taken</th>
			<th>Attendance taken last week</th>
		</tr>
	</thead>
	<tbody>
		{% for component, (count, count_tier4, last_date, last_week_date) in components.items() %}
		<tr>
			<td id="{{ component }}-id">{{ component }}</td>
			<td id="{{ component }}-tutor"></td>
			<td id="{{ component }}-students">{{ count }}</td>
			<td id="{{ component }}-tier4-students">{{ count_tier4 }}</td>
			<td id="{{ component }}-last-taken">{{ last_date }}</td>
			<td id="{{ component }}-last-week">{{ last_week_date }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}