{% extends "base.html" %}
{% block title %}Courses in department{% endblock %}
{% block content %}
<div class="table-title">
	<div class="row">
		<div class="col-sm-8"><h2>Courses in Department</h2></div>
		<div class="col-sm-4">
			<div class="search-box">
				<input type="text" class="form-control" onkeyup="filterCourses()" id="filter-courses-department" placeholder="Search&hellip;">
			</div>
		</div>
	</div>
</div>

<table id="courses-department" class="table table-striped table-bordered" style="width:100%">
	<thead>
		<tr>
			<th>Course ID</th>
			<th>Course Name</th>
			<th>Students Enrolled</th>
			<th>Tier 4 Students</th>
			<th>Tier 4 Attendance Last Week</th>
			<th>Tier 4 Attendance Last Month</th>
		</tr>
	</thead>
	<tbody>
		{% for (subject, catalog, name), (students, tier4) in courses.items() %}
		<tr>
			<td id="{{ subject }}{{catalog}}-id" ><a href="/course/{{ subject }}/{{ catalog }}/">{{ subject }}{{catalog}}</a></td>
			<td id="{{ subject }}{{catalog}}-name"><a href="/course/{{ subject }}/{{ catalog }}/">{{ name }}</a></td>
			<td id="{{ subject }}{{catalog}}-students">{{ students }}</td>
			<td id="{{ subject }}{{catalog}}-tier4">{{ tier4 }}</td>
			<td></td>
			<td></td>
		</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<th>Course ID</th>
			<th>Course Name</th>
			<th>Students Enrolled</th>
			<th>Tier 4 Students</th>
			<th>Tier 4 Attendance Last Week</th>
			<th>Tier 4 Attendance Last Month</th>
		</tr>
	</tfoot>
</table>
{% endblock %}